@import "./variables.scss";

.b1 h2 {
    font-size: 12px;
}
#Header {
    background: $header-background-color;
    padding: 10px 10px;
    & * {
        color: white;
    }
}
@media (min-width: 600px) {
    .menuIcon {
        display: none;
    }
}


.menuIcon div {
    height: 2px;
    width: 20px;
    background-color: black;
    margin: 0px 0 4px;
    transition: 0.4s;
}
.b2 a {
    display: block;
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    & div {
        display: none;
    }
    &:hover div {
        display: inline-block;
    }
}

#nav {
    border-top: 1px solid rgb(224, 224, 224);
    padding: 10px 0 0;
    & a {
        width: 100%;
        color: rgb(194, 194, 194);
        text-decoration: none;
        // padding: 10px 15px 0 0;
        margin: 10px 15px 0 0;
        // background: rgb(255, 173, 173);
        padding: 4px 6px;
        border-radius: 50px;
        font-weight: 600;
        transition: background-color 0.3s ease;
        &:hover {
            color: rgb(255, 255, 255);
        }
        &.active {
            color: rgb(50, 156, 64);
            font-weight: 600;
            &:hover {
                color: rgb(255, 186, 146);
            }
        }
    }
}
    