body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(19, 19, 19);
}

main {
  width: 90%;
  max-width: 1000px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.Header {
  background: rgb(73, 116, 255);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  margin-bottom: 20px;
}
.Header .b1 > div:first-child {
  font-size: 22px;
}
.Header .b1 h2 {
  margin: 0;
  font-size: 18px;
}
.Header .b1 h1 {
  margin: 0;
  font-size: 34px;
}
.Header .b2 {
  display: flex;
  flex-wrap: wrap;
}
.Header .b2 a {
  display: flex;
  align-items: center;
  font-weight: 700;
  width: 100%;
  color: white;
  text-decoration: none;
}
.Header .b2 a:hover {
  color: rgb(32, 32, 32);
}
.Header .b3 {
  display: flex;
  align-items: center;
}
.Header .b3 a {
  display: block;
  color: white;
  font-size: 30px;
  margin: 0 0 0 10px;
}
.Header .b3 a:hover {
  color: rgb(29, 29, 29);
}

.Sections {
  width: 100%;
}

.SectionList {
  width: 100%;
  padding-bottom: 100px;
}
.SectionList > div {
  width: 100%;
  margin: 0px 0 20px;
}
.SectionList > div > div:first-child {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  max-height: 100%;
  z-index: 200;
  background: rgb(38, 125, 255);
  color: rgb(255, 255, 255);
  font-weight: 900;
  position: relative;
}
.SectionList > div > div:first-child > h3 {
  margin: 10px 20px;
}
.SectionList > div > div:first-child > i {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 30px;
}
.SectionList > div > div:first-child:hover {
  background: rgb(111, 169, 255);
  color: white;
}
.SectionList > div > div {
  overflow: hidden;
  font-size: 20px;
  margin: 0 0 0px;
  background: rgb(255, 255, 255);
  background-color: #eee;
}
.SectionList > div > div:last-child {
  max-height: 0px;
  transition: max-height 1s ease-out;
  overflow: hidden;
}
.SectionList > div.open > div:last-child {
  max-height: 1000px;
  transition: max-height 1s ease-out;
}

#p2_box > div {
  padding: 50px 30px;
}
#p2_box > div > div {
  display: flex;
  align-items: center;
  margin: 0 20px;
  position: relative;
}
#p2_box > div > div > a {
  margin: 0 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(0, 175, 131);
}
#p2_box > div > div > a > div {
  display: none;
  position: absolute;
  background: rgb(45, 83, 255);
  color: white;
  padding: 10px;
  border-radius: 10px;
  left: calc(100% + 20px);
  z-index: 999999;
}
#p2_box > div > div > a h3 {
  font-size: 20px;
  margin: 6px 0;
}
#p2_box > div > div > a:hover {
  color: rgb(38, 125, 255);
}
#p2_box > div > div > a:hover > div {
  display: block;
}

#skill > div:first-child {
  margin: 0;
  padding: 0;
}
#skill > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
#skill > div h4 {
  grid-column: 1/4;
  width: 100%;
  margin: 10px 14px;
}
#skill > div > div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 20px;
  margin: 10px 20px;
}
#skill > div > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: rgb(79, 59, 255);
  padding: 3px 0px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

#work > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 0px;
}
#work > div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(79, 59, 255);
  color: white;
  margin: 16px 0;
  padding-bottom: 20px;
}
#work > div > div > h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  font-size: 26px;
}
#work > div > div p {
  width: 100%;
  text-align: center;
  margin: 0 0 10px;
}
#work > div > div > div {
  padding: 0 10px 10px;
}
#work > div:last-child {
  padding: 0 20px;
}
#work > div:last-child > div {
  padding: 10px 20px;
}

#edu > div:last-child {
  display: flex;
  justify-content: space-around;
}
#edu > div:last-child > div {
  margin: 10px;
  background: rgb(79, 59, 255);
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.sidebar {
  margin-left: 20px;
  height: auto;
  position: relative;
  width: 100%;
  max-width: 100px;
  padding: 0px 20px;
  overflow: hidden;
}
.sidebar > div {
  width: 100%;
  position: absolute;
  background: rgb(248, 248, 248);
  padding: 0 0 10px 0px;
  left: 0;
  font-size: 24px;
}
.sidebar > div h4 {
  display: flex;
  font-size: 24px;
  margin: 0;
  padding: 10px 10px;
  background: rgb(230, 230, 230);
}
.sidebar > div > div {
  font-size: 16px;
  margin: 4px 18px;
}
.sidebar > div > div > div {
  margin: 2px;
}