@use "./extra/normalize";
@use "./extra/variables" as *;
@use "./header";
@use "./footer";
@use "./page/projects";
@use "./page/skills";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #f5f8ff;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
// #root {
//     width: 90%;
//     max-width: 1000px;
//     margin: 0 auto;
// }
