@import "./normalize/normalize.scss";
@import "./variables.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./page/projects.scss";
@import "./page/skills.scss";



body {
    background-color: #f0f1f8;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
#root {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
